
MyGameClient2020/Assets/AmplifyShaderEditor/AmplifyShaderEditor.asmdef.meta
MyGameClient2020/Assets/AmplifyShaderEditor/AmplifyShaderEditor.asmdef
MyGameClient2020/Assets/AmplifyShaderEditor.meta
MyGameClient2020/Assembly-CSharp-Editor.csproj
MyGameClient2020/AmplifyShaderEditor.csproj
MyGameClient2020/.vs/MyGameClient2020/v15/Server/sqlite3/storage.ide-wal
MyGameClient2020/.vs/MyGameClient2020/v15/Server/sqlite3/storage.ide-shm
MyGameClient2020/.vs/MyGameClient2020/v15/Browse.VC.opendb
MyGameClient2020/.vs/MyGameClient2020/v15/Browse.VC.db
MyGameClient2020/.vs/MyGameClient2020/v15/.suo
*.csproj
*.ide-wal
*.ide-shm
MyGameClient2020/Assembly-CSharp-Editor.csproj
MyGameClient2020/.vs/MyGameClient2020/v15/Server/sqlite3/storage.ide-wal
MyGameClient2020/.vs/MyGameClient2020/v15/Server/sqlite3/storage.ide-shm
MyGameClient2020/.vs/MyGameClient2020/v15/.suo
MyGameClient2020/.vs/MyGameClient2020/v15/Server/sqlite3/storage.ide
